p {
  @include secondary-font(1em);
}
.jumbotron {
  background-color: #fce803;
  color: #fc4503;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  margin-top: 0.5em;
  margin-top: 3em;
}
/*para debugging*/
/*
div{
	border-color: red;
	border-width: 1px;
	border-style: solid;
}
*/
h4 {
  color: #fc4503;
}
footer {
  background-color: #fce803;
  margin: 2em 0 0 0;
  padding: 1em;
  border-radius: 0.2em;
}
footer hr {
  background-color: #5D047F;
}
.product {
  margin: 0.5em 1em 1em 1em;
  padding: 1em 0.5em 0.5em 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product_photo {
  height: 15em;
  object-fit: cover;
}
.product:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  background-color: #74f23f;
}
.btn-reserva {
  width: 100%;
  background-color: #9EF116;
  border-width: 0.1em;
  border-color: #6EB100;
  border-style: solid;
  color: black;
}
.banner {
  position: relative;
  height: 25em;
  object-fit: cover;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.img-title {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 8px  black;
}
.tab-content {
  padding-top: 1em;
}
.carousel-inner img {
  width: 100%;
  object-fit: cover;
}
.carousel-inner {
  height: 500px;
}
.carousel {
  margin-bottom: 2em;
}
